/*
======================================
        publics styles
======================================
*/
* , *::after , *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color:#141517;
  font-family: 'Josefin Sans', sans-serif;
  /* background-color: rgb(141, 80, 80); */
  height: 2000px;
}
.container{
  width: 85%;
  margin: auto;
  overflow: hidden;
}
.row{
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}
/*
======================================
        btn style
======================================
*/
.btn {
  padding: 20px 40px;
  background-color: #4a4a4b;
  border:none;
  outline: none;
  font-size: 20px;
  font-weight: bolder;
  z-index: 1; 
  position: relative;
  color:white;
}
.btn::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 100%;
  top:0;
  left:0;
  background: red;
  transition: all .35s ease-in-out;
  z-index: -1;
} 
.btn:hover:after{
  width: 100%;
}
/*
======================================
       end btn style
======================================
*/

/*
======================================
        start nav styles
======================================
*/

nav{
  background-color: rgb(42, 165, 134);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background-color: white;
  padding: 40px 39px;
  width: 100%;
  /* box-shadow: 0px 2px 6px 1px grey; */
  position: fixed;
  top:0;
  z-index: 8888;
}


nav .list .list-item{
  display: inline-block;
  position: relative;
}
nav .list .list-item a:hover{
  color:#FF2020;
}
nav .list .list-item > a{
    font-size: 19px;
    text-decoration: none;
    color: #141517;
    margin-left: 30px;
    text-transform: capitalize;
}
nav .list .list-item .drop-down{
  position: absolute;
  top: 38px;
  left: 20px;
  background-color: #fff;
  list-style: none;
  width: 200px;
  padding: 17px 0;
  border-top: #FF2020 3px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0;
  transition: 1s all;
  z-index: 50;
}
nav .list .list-item:hover >.drop-down{
  display: block;
  opacity: 1;
}
nav .list .list-item .drop-down::before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:-22px;
  left:15px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #FF2020;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
nav .list .list-item:nth-child(4)::after{
  content: "HOT";
  position: absolute;
  background-color: #FF2020;
  color: #fff;
  top: -23px;
  left: 69px;
  font-size: 10px;
  padding: 5px 7px;
  border-radius: 7px;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 1px grey;
}
nav .list .list-item .drop-down .drop-down-item{
  margin:11px 18px;
  font-size: 20px;
  
}
nav .list .list-item .drop-down .drop-down-item a{
  text-decoration: none;
  margin: 2px;
  color: #141517;

}

nav .nav-icon a{
  color:#141517;
  padding-left: 25px;
}
nav .nav-icon a:hover{
  color:#FF2020;
}
nav input , nav label{
display:none;
}
.nav-bar{
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
}
/*
======================================
        end nav styles
======================================
*/

/*
======================================
        start nav media
======================================
*/
@media(max-width:991px){
  nav label{
    display:block;
    order:3;
    cursor: pointer;
    }
  nav label i{
    color:#FF2020;
    font-size: 25px;
  }
  nav .list{
    position: absolute;
    background-color: #F0F0F2;
    top:100px;
    right:0px;
    opacity: 0;
    transition: all .4s ease-in;
    width:100%;

  }
  nav input:checked ~ .list{
    opacity: 1;
  }
  nav .list .list-item{
    position: relative;
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 50px;
    font-weight: bolder;
   

  }
  nav .list .list-item .drop-down::before{
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid #FF2020;
      top:5px;
      left:-18px;
  }
  nav .list .list-item .drop-down{
      top: 16px;
      left: 120px;
      z-index: 1;
      width:30%;
  }

  nav .list .list-item .drop-down .drop-down-item{
    padding:4px 10px;
  }

  
  nav .list .list-item:nth-child(4)::after{
  display: none;
  }


}

/*
======================================
        end nav media
======================================
*/

/*
======================================
        start header section style
======================================
*/
.shop-now{
  width:100%
}
.container .row
{
  justify-content: space-around;
  align-items: center;
  
}
.shop-now .row {
  background-color: #F0F0F2;
  width:100%;
}


.container .row .header-content h1{
font-size:96px ;
padding-top: 200px;
}
.container .row .header-content p{
  padding-top: 50px;
  padding-bottom: 100px;
}
.container .row .header-content ~ .watch {
    animation-name: zoom-in-zoom-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.03, 1.03);
    }
    100% {
    transform: scale(1, 1);
    }
    }
    
/*
======================================
        end header section style
======================================
*/
/*
======================================
        start header section media
======================================
*/
@media(max-width:991px){
.container .row .watch {display:none;}
.container .row .header-content{
  padding:0 150px 150px 150px;
}
.container .row .header-content .btn{
  padding:40px 100px;
  font-size: 35px;
}

.container .row .header-content h1{
  font-size:86px ;
  line-height: 1.6;
}
.container .row .header-content  p{
  font-size:17px ;
  line-height: 1.6;
}
}
/*
======================================
        end header section media
======================================
*/

/* 
=========================================
        start arrivals section style 
=========================================
*/

.arrivals{
  /* background-color: rgb(242, 242, 0); */
  padding: 100px 0;
  justify-content:center;
}
.arrivals .container .row{
  justify-content: center;
}
.arrivals .item{
  text-align: center;
  margin-bottom: 23px;
  margin-left: 25px;


  
}
.arrivals h2{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    padding:0 0 50px 200px;
    line-height: 1;
}
.arrivals .item .img-item{
  margin-bottom: 23px;
  overflow: hidden;
}
.arrivals .item .img-item img{
  transition: 0.5s all;


}
.arrivals .item .img-item:hover img{
  transform: scale(1.1);
}
.arrivals .item a{
  color: #444;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}
.arrivals .item p{
  margin-top: 18px;
  color:#FF2027;
  font-weight: 600;
}

/* 
=========================================
        end arrivals section style 
=========================================
*/


/* 
=========================================
        start arrivals section media 
=========================================
*/
@media(max-width:1025px){

  .arrivals .row{
    display: block;
    padding:100px 0 100px 0;
  }
  
  .arrivals h2{
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 50px;
  
  }
  .arrivals img {
    width:80%;
    height: 20%;
  }
  .arrivals .item{
    margin-bottom: 75px;
    overflow: hidden;
  }
  .arrivals .item a{
    color: #444;
    font-weight: 700;
    font-size: 34px;
    text-decoration: none;
  }
  .arrivals .item p{
    font-size: 24px;
    margin-top: 18px;
    color:#FF2027;
    font-weight: 600;
  }
}

/* 
=========================================
        end arrivals section media 
=========================================
*/

/* 
======================================
        start images section style
====================================== 
 */

.section-images{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:repeat(2,330px) ;
  grid-gap: 30px 30px;
  padding-bottom: 200px;;
}
.section-images .item{
  background-color: #333;
  /* padding:30px; */
  color:white;
  overflow: hidden;
}
.section-images .item img{
  width:100%;
  height: 100%;
  transition: 1s all;

}
.section-images img:hover {
  transform: scale(1.2); 
}
.section-images .item:nth-child(1)
{ 
  grid-column: 1/3;
  grid-row: 1/3;
}
.section-images .item:nth-child(2)
{ 
  grid-row: 1/3;
}

/* ======================================
         end images section style
=========================================
 */

 /* 
======================================
        start images section media
====================================== 
 */
 @media(max-width:1025px){
  
  .section-images {
    display: block;
  }
}
  /* 
======================================
        end images section media
====================================== 
 */

 /* 
 ======================================
 start of popular items section
 ======================================  
*/
.popular {
  text-align: center;
}
.popular h2{
  color:#141517;
  padding:20px;
  font-size: 48px;
  font-weight: 700;
}
.popular > p{
  font-family: "Roboto",sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 70px;
  font-weight: normal;

}
.popular .container .row{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.popular .container .row .item{
 
  margin-bottom: 30px;
  overflow: hidden;

  
}
.popular .img-item{
  position: relative;
  border-bottom: 5px solid #f81f1f;
  margin-bottom: 20px;
  overflow: hidden;

}
.popular .item  button{
  position: absolute;
  bottom: -75px;
  left:0;
  width: 100%;
  padding:20px 0;
  text-align: center;
  background-color: #f81f1f;
  outline: none;
  border: none;
  color:white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s all;
}
.popular .item:hover button {
  transform: translate(0,-75px);

}

.popular .item a{
  color: #444;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.popular .item p{
padding:10px 0 10px 0;
}
.popular .btn{
  margin: 100px 0;
  background-color:#f81f1f;
  font-family: "Josefin Sans",sans-serif;
  font-size: 16px;

}
.popular .btn::after{
  background-color: #4a4a4b;
}

  /* 
======================================
        start next-video section style
====================================== 
 */
  .next-video .container{
      width:100%;
      position: relative;
      transition: 1s all;
  }
  .next-video .next{
    position: absolute;
    left:0;
    bottom:5px;
    background-image: url("/assets/img/xvidoe_more.png.pagespeed.ic.qi7r8yaMbc.png");
    background-size: cover;
    padding:70px 80px 70px 80px;
    z-index: 8;
  }
  .next-video .overlay{
    background-color:transparent;
    position: absolute;
    top:0;
    left: 0;
    padding:100%;
    transition: 1s all;
  }
  .next-video .container:hover .overlay{
    background-color:rgba(0, 0, 0, 0.5);
  }
  .next-video .next span{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
  }
  .next-video .next i{
    font-size: 30px;
    margin-left: 250px;
    color:white;
    text-align: center;
  }
  .next-video .play a i{
    position: absolute;
    top:50%;
    left:50%;
    font-size: 40px;
    color:white;
    border:1px solid white;
    padding:25px;
    padding-left:30px;
    border-radius: 50%;
    transition: 1s all;
    text-rendering: auto;
    font-style: normal;
    font-variant: normal;
    z-index: 7;
  }
.next-video .container:hover .play a i{
  padding:30px 30px 30px 35px;
}
.next-video .play:hover i{
      background-color: white;
      color:red;
}
 /* 
 ======================================
        end next-video section style
 ======================================  
*/








